<!-- Clients Aside -->

<section id="clients">
    <aside class="clients">
        <div class="container">
                        <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Clients</h2>
                     <h3 class="section-subheading text-muted">

                     </h3>
                </div>
            </div>
            <div class="row">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
    <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/sanfranola-logo-gray.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/rocket_gray.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/little_potato_grey.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/stonyfield-logo-gray.png" class="img-responsive img-centered" alt="">
                    </a>
    </div>
    </div>

    <div class="item">
    <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/zola-logo-gray.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/somersault-logo-gray.gif" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/house-logo-gray.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/grow-express-logo-gray.png" class="img-responsive img-centered" alt="">
                    </a>
    </div>
    </div>

    <div class="item">
    <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/earthbound-logo-gray.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/dole-logo-gray.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/aromatica-logo-gray.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/apio-logo-gray.png" class="img-responsive img-centered" alt="">
                    </a>
    </div>
    </div>

    <div class="item">
    <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/airflo-logo-gray.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/apio-logo-gray.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/calavo-logo-gray.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/calbee-logo-gray.png" class="img-responsive img-centered" alt="">
                    </a>
    </div>
    </div>

 </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <!-- <span class="fa fa-chevron-circle-left pull-left" aria-hidden="true"></span> -->
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
  <!--  <span class="fa fa-chevron-circle-right pull-right" aria-hidden="true"></span> -->
    <span class="sr-only">Next</span>
  </a>
</div>


                
                
            
            </div>
               <div class="row text-center">
                <div class="col-md-4">
                    

                    <p class="text-muted">
<a href="http://www.apioinc.com/">Apio</a> <br>
<a href="http://www.aromaticaspice.com/">Aromatica Organics</a> <br>
<a href="http://www.baresnacks.com/">Bare Snacks </a> <br>
<a href="http://www.barsottijuice.com/">Barsotti Juice Co. </a> <br>
<a href="http://www.browncowfarm.com/">Brown Cow</a> <br>
<a href="http://www.calavo.com/">Calavo</a> <br>
<a href="http://calbeena.com/">Calbee North America</a> <br>
<a href="https://www.carlson-airflo.com/">Carlson Air-Flo</a> <br>
<a href="http://www.concordfoods.com/">Concord Foods</a> <br>
<a href="http://www.crunchpak.com/">Crunch Pak</a> <br>
<a href="http://www.davislewisorchards.com/">Davis Lewis Orchards</a> <br>
<a href="http://www.dole.com/">Dole</a> <br>
<a href="http://www.ebfarm.com/">Earthbound Farm </a> <br>
                    </p>
                </div>
                <div class="col-md-4">

                    <p class="text-muted">
<a href="http://fieldroast.com/">Field Roast</a> <br>
<a href="http://frontierbites.com/">Frontier Bites</a> <br>
<a href="http://goodfoods.com/">Good Foods </a> <br>
<a href="http://grandprairiefoods.com/">Grand Prairie</a> <br>
<a href="http://www.growersexpress.com/">Growers Express</a> <br>
<a href="http://www.house-foods.com/">House Foods</a> <br>
<a href="http://www.kimandscotts.com/">Kim & Scott’s</a> <br>
<a href="http://www.littlepotatoes.com/">Little Potato Co.</a> <br>
<a href="http://www.lovebeets.com/">Love Beets</a> <br>
<a href="http://makotodressing.com/">Makoto</a> <br>
<a href="http://www.mooneyfarms.com/">Mooney Farms</a> <br>
<a href="http://www.naturesjoy.com">Nature’s Joy</a> <br>
<a href="http://orchardvalleyharvest.com/">Orchard Valley Harvest</a> <br>
                    </p>
                    
                </div>
                <div class="col-md-4">

                    <p class="text-muted">
<a href="http://www.rfgfoods.com/">Renaissance Food Group</a> <br>
<a href="http://www.rocketfarms.com/">Rocket Farms</a> <br>
<a href="http://royalridgefruits.com/">Royal Ridge Fruit</a> <br>
<a href="http://www.sanfranolagranola.com/">San Franola </a> <br>
<a href="http://www.sanmiguelpurefoods.com/">San Miguel</a> <br>
<a href="http://www.somersaultsnackco.com/">Somersault Snacks </a> <br>
<a href="http://www.spiceworldinc.com/">Spice World </a> <br>
<a href="http://starlitecuisine.com/">Star-Lite Cuisine</a> <br>
<a href="http://www.stonyfield.com/">Stonyfield</a> <br>
<a href="https://www.sunridgefarms.com/">Sunridge Farms </a> <br>
<a href="https://www.veggiepatch.com/">Veggie Patch</a> <br>
<a href="http://www.waymouthfarms.com/">Waymouth Farms</a> <br>
<a href="http://www.livezola.com/">Zola </a> <br>
                    </p>
                </div>
            </div>
        </div>
    
    </aside>
</section>
