<!-- Clients Aside -->

<section id="clients">
    <aside class="clients">
        <div class="container">
                        <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Valued Clients</h2>
                </div>
            </div>
            <div class="row">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
    <li data-target="#myCarousel" data-slide-to="8"></li>
    <li data-target="#myCarousel" data-slide-to="9"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
<div class="col-md-3 col-sm-6">
<a href='http://www.apioinc.com/'><img src='img/logos/apio-logo.jpg' class='img-responsive img-centered' alt='Apio'></a>        
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://www.aromaticaspice.com/'><img src='img/logos/aromatica-logo.png' class='img-responsive img-centered' alt='Aromatica Organics'></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://www.baresnacks.com/'><img src='img/logos/bare-logo.png' class='img-responsive img-centered' alt='Bare Snacks '></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://www.barsottijuice.com/'><img src='img/logos/barsotti-logo.png' class='img-responsive img-centered' alt='Barsotti Juice Co. '></a>
</div>
    </div>

    <div class="item">
<div class="col-md-3 col-sm-6">
<a href='http://www.browncowfarm.com/'><img src='img/logos/brown-cow-logo.png' class='img-responsive img-centered' alt='Brown Cow'></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://www.calavo.com/'><img src='img/logos/calavo-logo.png' class='img-responsive img-centered' alt='Calavo'></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://calbeena.com/'><img src='img/logos/calbee-logo.png' class='img-responsive img-centered' alt='Calbee North America'></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='https://www.carlson-airflo.com/'><img src='img/logos/airflo-logo.png' class='img-responsive img-centered' alt='Carlson Air-Flo'></a>    
</div>
    </div>

    <div class="item">
<div class="col-md-3 col-sm-6">
<a href='http://www.concordfoods.com/'><img src='img/logos/concord-logo.jpeg' class='img-responsive img-centered' alt='Concord Foods'></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://www.crunchpak.com/'><img src='img/logos/crunch-pak.jpeg' class='img-responsive img-centered' alt='Crunch Pak'></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://www.davislewisorchards.com/'><img src='img/logos/davis-lewis-logo.png' class='img-responsive img-centered' alt='Davis Lewis Orchards'></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://www.dole.com/'><img src='img/logos/dole-logo.png' class='img-responsive img-centered' alt='Dole'></a>  
</div>
    </div>

    <div class="item">
<div class="col-md-3 col-sm-6">
<a href='http://www.ebfarm.com/'><img src='img/logos/earthbound-logo.png' class='img-responsive img-centered' alt='Earthbound Farm '></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://fieldroast.com/'><img src='img/logos/field-roast-logo.jpeg' class='img-responsive img-centered' alt='Field Roast'></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://frontierbites.com/'><img src='img/logos/frontier.png' class='img-responsive img-centered' alt='Frontier Bites'></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://goodfoods.com/'><img src='img/logos/good-food-logo.png' class='img-responsive img-centered' alt='Good Foods '></a>
</div>
    </div>

    <div class="item">
<div class="col-md-3 col-sm-6">
<a href='http://grandprairiefoods.com/'><img src='img/logos/grand-prairie-logo.png' class='img-responsive img-centered' alt='Grand Prairie'></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://www.growersexpress.com/'><img src='img/logos/grow-express-logo.png' class='img-responsive img-centered' alt='Growers Express'></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://www.house-foods.com/'><img src='img/logos/house-logo.png' class='img-responsive img-centered' alt='House Foods'></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://www.kimandscotts.com/'><img src='img/logos/kim-scott-logo.jpeg' class='img-responsive img-centered' alt='Kim & Scott’s'></a>
</div>
    </div>

    <div class="item">
<div class="col-md-3 col-sm-6">
<a href='http://www.littlepotatoes.com/'><img src='img/logos/little-potato-logo.jpeg' class='img-responsive img-centered' alt='Little Potato Co.'></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://www.lovebeets.com/'><img src='img/logos/love-beets-logo.jpeg' class='img-responsive img-centered' alt='Love Beets'></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://makotodressing.com/'><img src='img/logos/makoto-logo.jpeg' class='img-responsive img-centered' alt='Makoto'></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://www.mooneyfarms.com/'><img src='img/logos/mooney-farms-logo.jpeg' class='img-responsive img-centered' alt='Mooney Farms'></a>
</div>
    </div>

    <div class="item">
<div class="col-md-3 col-sm-6">
<a href='http://www.naturesjoy.com'><img src='img/logos/natures-joy-logo.jpg' class='img-responsive img-centered' alt='Nature’s Joy'></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://orchardvalleyharvest.com/'><img src='img/logos/orchard-valley-logo.png' class='img-responsive img-centered' alt='Orchard Valley Harvest'></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://www.rfgfoods.com/'><img src='img/logos/renaissance-logo.jpg' class='img-responsive img-centered' alt='Renaissance Food Group'></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://www.rocketfarms.com/'><img src='img/logos/rocket-logo.jpg' class='img-responsive img-centered' alt='Rocket Farms'></a>
</div>
    </div>

    <div class="item">
<div class="col-md-3 col-sm-6">
<a href='http://royalridgefruits.com/'><img src='img/logos/royal-ridge-logo.png' class='img-responsive img-centered' alt='Royal Ridge Fruit'></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://www.sanfranolagranola.com/'><img src='img/logos/sanfranola-logo.png' class='img-responsive img-centered' alt='San Franola '></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://www.sanmiguelpurefoods.com/'><img src='img/logos/san-miguel-logo.png' class='img-responsive img-centered' alt='San Miguel'></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://www.somersaultsnackco.com/'><img src='img/logos/somersault-logo.gif' class='img-responsive img-centered' alt='Somersault Snacks '></a>
</div>
    </div>
    
    <div class="item">
<div class="col-md-3 col-sm-6">
<a href='http://www.spiceworldinc.com/'><img src='img/logos/spice-world-logo.jpg' class='img-responsive img-centered' alt='Spice World '></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://starlitecuisine.com/'><img src='img/logos/star-lite-logo.jpg' class='img-responsive img-centered' alt='Star-Lite Cuisine'></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://www.stonyfield.com/'><img src='img/logos/stonyfield-logo.jpeg' class='img-responsive img-centered' alt='Stonyfield'></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='https://www.sunridgefarms.com/'><img src='img/logos/sun-ridge-logo.jpeg' class='img-responsive img-centered' alt='Sunridge Farms '></a>
</div>
    </div>

    <div class="item">
<div class="col-md-3 col-sm-6">
<a href='https://www.veggiepatch.com/'><img src='img/logos/veggie-patch-logo.png' class='img-responsive img-centered' alt='Veggie Patch'></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://www.waymouthfarms.com/'><img src='img/logos/waymouth-farms.jpg' class='img-responsive img-centered' alt='Waymouth Farms'></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='http://www.livezola.com/'><img src='img/logos/zola-logo.png' class='img-responsive img-centered' alt='Zola '></a>
            </div>
            <div class="col-md-3 col-sm-6">
<a href='#'><img src='img/logos/interlink-logo.jpg' class='img-responsive img-centered' alt='InterLink Marketing'></a>
</div>
    </div>    
 </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <!-- <span class="fa fa-chevron-circle-left pull-left" aria-hidden="true"></span> -->
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
  <!--  <span class="fa fa-chevron-circle-right pull-right" aria-hidden="true"></span> -->
    <span class="sr-only">Next</span>
  </a>
</div>


                
                
            
            </div>
               <div class="row text-center">
                <div class="col-md-4">
                    

                    <p class="text-muted">
<h4><a href="http://www.apioinc.com/">Apio</a> </h4><br>
<h4><a href="http://www.aromaticaspice.com/">Aromatica Organics</a> </h4><br>
<h4><a href="http://www.baresnacks.com/">Bare Snacks </a> </h4><br>
<h4><a href="http://www.barsottijuice.com/">Barsotti Juice Co. </a> </h4><br>
<h4><a href="http://www.browncowfarm.com/">Brown Cow</a> </h4><br>
<h4><a href="http://www.calavo.com/">Calavo</a> </h4><br>
<h4><a href="http://calbeena.com/">Calbee North America</a> </h4><br>
<h4><a href="https://www.carlson-airflo.com/">Carlson Air-Flo</a> </h4><br>
<h4><a href="http://www.concordfoods.com/">Concord Foods</a> </h4><br>
<h4><a href="http://www.crunchpak.com/">Crunch Pak</a> </h4><br>
<h4><a href="http://www.davislewisorchards.com/">Davis Lewis Orchards</a> </h4><br>
<h4><a href="http://www.dole.com/">Dole</a> </h4><br>
<h4><a href="http://www.ebfarm.com/">Earthbound Farm </a> </h4><br>
                    </p>
                </div>
                <div class="col-md-4">

                    <p class="text-muted">
<h4><a href="http://fieldroast.com/">Field Roast</a> </h4><br>
<h4><a href="http://frontierbites.com/">Frontier Bites</a> </h4><br>
<h4><a href="http://goodfoods.com/">Good Foods </a> </h4><br>
<h4><a href="http://grandprairiefoods.com/">Grand Prairie</a> </h4><br>
<h4><a href="http://www.growersexpress.com/">Growers Express</a> </h4><br>
<h4><a href="http://www.house-foods.com/">House Foods</a> </h4><br>
<h4><a href="http://www.kimandscotts.com/">Kim & Scott’s</a> </h4><br>
<h4><a href="http://www.littlepotatoes.com/">Little Potato Co.</a> </h4><br>
<h4><a href="http://www.lovebeets.com/">Love Beets</a> </h4><br>
<h4><a href="http://makotodressing.com/">Makoto</a> </h4><br>
<h4><a href="http://www.mooneyfarms.com/">Mooney Farms</a> </h4><br>
<h4><a href="http://www.naturesjoy.com">Nature’s Joy</a> </h4><br>
<h4><a href="http://orchardvalleyharvest.com/">Orchard Valley Harvest</a> </h4><br>
                    </p>
                    
                </div>
                <div class="col-md-4">

                    <p class="text-muted">
<h4><a href="http://www.rfgfoods.com/">Renaissance Food Group</a> </h4><br>
<h4><a href="http://www.rocketfarms.com/">Rocket Farms</a> </h4><br>
<h4><a href="http://royalridgefruits.com/">Royal Ridge Fruit</a> </h4><br>
<h4><a href="http://www.sanfranolagranola.com/">San Franola </a> </h4><br>
<h4><a href="http://www.sanmiguelpurefoods.com/">San Miguel</a> </h4><br>
<h4><a href="http://www.somersaultsnackco.com/">Somersault Snacks </a> </h4><br>
<h4><a href="http://www.spiceworldinc.com/">Spice World </a> </h4><br>
<h4><a href="http://starlitecuisine.com/">Star-Lite Cuisine</a> </h4><br>
<h4><a href="http://www.stonyfield.com/">Stonyfield</a> </h4><br>
<h4><a href="https://www.sunridgefarms.com/">Sunridge Farms </a> </h4><br>
<h4><a href="https://www.veggiepatch.com/">Veggie Patch</a></h4> <br>
<h4><a href="http://www.waymouthfarms.com/">Waymouth Farms</a></h4> <br>
<h4><a href="http://www.livezola.com/">Zola </a></h4> <br>
                    </p>
                </div>
            </div>
        </div>
    
    </aside>
</section>
