<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                     <h3 class="section-subheading text-muted">
                    We are a full service broker handling all facets of corporate, retail and administrative needs for both our clients and customers.
                    <br>
                    Our Account Executives implore a fact-based analysis approach to client management and stay current within marketplace dynamics.  
                    <br>
                    Our retail team’s experience is evident through their knowledge of their stores, personnel and relationships, at all levels. 
                     </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Corporate</h4>
                    <p class="text-muted">
                        •Develop marketing strategies that drive new distribution and market share <br>
                        •Category Management <br>
                        •Fact based analysis and planogram recommendations <br>
                        •Syndicated Data: IRI/Nielsen <br>
                        •Live imaging schematics: JDA/Apollo/Spaceman <br>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Retail</h4>
                    <p class="text-muted">
                        •Unmatched speed-to-shelf execution <br>
                        •Sell in incremental cases/displays <br>
                        •Capture survey data, audit, & report  <br>
                        •Competetitve activity reports <br>
                        •Retail Price Checks <br>
                        •Quick response retail reporting <br>
                        •Store remodel & resets <br>
                        •New item cut-ins & promotional blitzes <br>
                        •On-going product rotation and code checks <br>
                        •Seasonal Merchandising & Setups <br>
                        •Report OOS's & correct voids <br>
                    </p>
                    
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-refresh fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Administrative</h4>
                    <p class="text-muted">
                        •Customer service <br>
                        •Order Processing <br>
                        •Order Tracking <br>
                        •Deduction resolutions <br>
                        •E-contract submission, promo forms, NIF <br>
                        •Sell sheet development <br>
                        •Operate within customer & client portals <br>
                    </p>
                </div>
            </div>
        </div>
    </section>
